/main/nbproject/private/
/mavenproject1/target/
/main/build/
/db/nbproject/private/
/db/build/
/main/dist/
/ugh/nbproject/private/
/db2/nbproject/private/
/db2/build/
/ugh/build/
/asdefasdf/nbproject/private/
/asdefasdf/build/
/user/nbproject/private/
/user/build/
/interface/nbproject/private/
/interface/build/